.Header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid black;
    align-items: center;
  }
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: white;
  }
  input{
    /* background-color: black; */
    height: 30px;
  }
 .cardsContainer {
    display: flex;
    flex-wrap: wrap;
 } 
 .gameCard {
    height: 400px;
    /* background-color: red; */
    width: 300px;
    margin: 10px;
    border: 2px solid red;
 }
 .thumbnail {
  width: 300px;
  height: 300px;
 }
 .genreContainer {
    display: flex;
    justify-content: space-between;
 }

 .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }